@-webkit-keyframes fade {
	0% { opacity: 0; }
}

*[data-icon] {
	text-indent: 100%;
	overflow: hidden;
	width: 18px;
	background: no-repeat 50%;
	background-size: 1.4em;
	display: inline-block;
	vertical-align: top;
}

*[data-icon=export] { background-image: url(../res/export.svg); }
*[data-icon=user-group] { background-image: url(../res/user-group.svg); }

html, body { height: 100%; }
dl, h1, dd, ol, menu, select { margin: 0; }
ol, ul, menu, select { padding: 0; }
main, dt h1, ul { -webkit-box-flex: 1; flex: 1; }
select, dt h1, time { text-transform: uppercase; color: #fff; }
time, select, dt h1, time sup { line-height: 1; }
time, main, label[data-icon], select { display: block; }
dt time, time sup, aside, #add { text-align: center; }
dt time, time sup, aside, label[data-icon] { width: 75px; }
b, select, dt h1, dt time { font-weight: 500; }

li { list-style: none; }
template { display: none; }
time { position: relative; }

time sup {
	font-size: 11px;
	font-weight: 400;
	position: absolute;
	left: 0; top: 30px;
}

html {
	cursor: default;
	font: 400 15px/1.4 "Helvetica Neue", sans-serif;
	color: #8e8e93;
	background: #f7f7f7;
}

body {
	max-width: 768px;
	margin: auto;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	flex-direction: column;
}

menu {
	display: -webkit-box;
	display: flex;
	background: -webkit-linear-gradient(left, #ef4db6, #c643fc);
	background: -moz-linear-gradient(left, #ef4db6, #c643fc);
	background: linear-gradient(left, #ef4db6, #c643fc);
}

select {
	-webkit-box-flex: 1;
	flex: 1;
	border-radius: 0;
	cursor: pointer;
	border: none;
	outline: none;
	font-family: inherit;
	background: none;
	width: 100%;
	-webkit-appearance: none;
}

main.loading { background: url(../res/loading.svg) no-repeat 50%; }
main.loading dl { opacity: 0.5; }

dl {
	-webkit-animation: fade 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
}

dt {
	background: -webkit-linear-gradient(left, #c644fc, #5856d6);
	background: -moz-linear-gradient(left, #c644fc, #5856d6);
	background: linear-gradient(left, #c644fc, #5856d6);
	display: -webkit-box;
	display: flex;
}

dt.today {
	background: -webkit-linear-gradient(left, #1ad6fd, #1d62f0);
	background: -moz-linear-gradient(left, #1ad6fd, #1d62f0);
	background: linear-gradient(left, #1ad6fd, #1d62f0);
}

li.block {
	display: -webkit-box;
	display: flex;
	padding: 25px 75px 25px 0;
	min-height: 50px;
}

li.block:not(:last-child) {
	border-bottom: 1px solid #c7c7cc;
}

aside {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

aside time {
	padding: 0 4px;
	font-size: 13px;
	line-height: 21px;
}

aside time.from { background: #ffcc00; }
aside time.to { background: #ff2d55; }

ul {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	align-self: center;
}

li.lesson:not(:last-child) {
	margin-bottom: 14px;
}

#add {
	opacity: 0.75;
	position: fixed;
	bottom: 10px;
	width: 162px;
	text-align: center;
	padding: 29px;
	left: 50%;
	color: #fff;
	margin-left: -110px;
	background: #ff2d55;
	border-radius: 10px;
}

#add::after {
	content: "";
	position: absolute;
	border: 5px solid transparent;
	border-top-color: #ff2d55;
	bottom: -10px;
	left: 50%;
	margin-left: -5px;
}

#add:not(.show) { display: none; }

select, dt h1, dt time, label[data-icon] {
	font-size: 20px;
	line-height: 100px;
}

html, select {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}