@font-face { font-family: ASAP; font-weight: 400; src: url(../fonts/asap.woff); }
@font-face { font-family: ASAP; font-weight: 700; src: url(../fonts/asap-bold.woff); }

@-webkit-keyframes fade {
	0% { opacity: 0; }
}

@-webkit-keyframes next {
	100% { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes prev {
	100% { -webkit-transform: translateX(100%); }
}

*[data-icon] {
	text-indent: 100%;
	overflow: hidden;
	width: 18px;
	background: no-repeat 50%;
	background-size: 1.4em;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}

*[data-icon=export] { background-image: url(../img/export.svg); }
*[data-icon=user-group] { background-image: url(../img/user-group.svg); }
*[data-icon=reload] { background-image: url(../img/reload.svg); }
*[data-icon=next] { background-image: url(../img/next.svg); }
*[data-icon=prev] { background-image: url(../img/prev.svg); }

html, body { height: 100%; }
body, ul, dl, h1, dd, ol, menu, select, p { margin: 0; }
ol, ul, menu, select, button { padding: 0; }
main, dt h1, ul, select { -webkit-box-flex: 1; flex: 1; }
select, dt h1, time { text-transform: uppercase; color: #fff; }
time, main, label[data-icon], a[data-icon], select, button[data-icon] { display: block; }
dt time, time sup, aside, label[data-icon], #date li { width: 100px; }
b, select, dt h1, dt time { font-weight: 700; }
label, select, button, a { cursor: pointer; }
body, menu, dt, aside, li.block, #date ul { display: -webkit-box; display: flex; }
select, dt h1, dt time, label[data-icon], a[data-icon], p { font-size: 20px; line-height: 100px; }
body, aside { -webkit-box-orient: vertical; flex-direction: column; }
time, p { text-align: center; }
select, a[data-icon] { width: 100%; }

li { list-style: none; }
template { display: none; }
dt time { position: relative;  }

time sup {
	position: absolute;
	left: 0; top: -0.5em;
	font-weight: 400;
	opacity: 0.5;
	pointer-events: none;
	line-height: 100px; /* Firefox fix */
}

html {
	cursor: default;
	font: 400 15px/1.4 ASAP, sans-serif;
	color: #8e8e93;
	background: #f7f7f7;
}

body {
	-webkit-box-direction: reverse;
	flex-direction: column-reverse;
}

menu { background: #4a4a4a; }

button[data-icon] {
	width: 50px; height: 50px;
	margin: auto;
	background-size: 50px;
}

select, button {
	border-radius: 0;
	border: none;
	outline: none;
	font-family: inherit;
	background: none;
	-webkit-appearance: none;
}

main div {
	-webkit-transition: opacity 0.5s ease-in-out;
	-webkit-animation: fade 0.5s ease-in-out;
}

main.loading { background: url(../img/loading.svg) no-repeat 50%; }
main.loading div { opacity: 0.5; }

main.next div {
	-webkit-animation: next 0.5s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

main.prev div {
	-webkit-animation: prev 0.5s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

dt {
	background: #c644fc;
}

dt.today {
	background: #1d62f0;
}

li.block {
	padding: 25px 100px 25px 0;
	min-height: 50px;
}

li.block:not(:last-child) {
	border-bottom: 1px solid #c7c7cc;
}

li.block ul {
	align-self: center;
	display: -webkit-box; /* iOS fix */
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
}

aside, #date ul {
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

aside time {
	width: 40px;
	font-size: 13px;
	line-height: 21px;
	border-radius: 4px;
}

aside time.from { background: #ffcc00; }
aside time.to { background: #ff2d55; }

li.lesson:not(:last-child) {
	margin-bottom: 14px;
}

html, select {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}

menu, dt {
	background-attachment: fixed !important;
}

menu, main {
	-webkit-box-direction: normal; /* iOS fix */
}

#add {
	opacity: 0.8;
	position: fixed;
	bottom: 10px;
	width: 162px;
	text-align: center;
	padding: 29px;
	left: 50%;
	color: #fff;
	margin-left: -110px;
	background: #ff2d55;
	border-radius: 10px;
	text-align: center;
}

#add::after {
	content: "";
	position: absolute;
	border: 5px solid transparent;
	border-top-color: #ff2d55;
	bottom: -10px;
	left: 50%;
	margin-left: -5px;
}

#add:not(.show) { display: none; }

@media screen and (max-width: 320px) {
	li.block { padding-right: 75px; }
	dt time, time sup, aside, label[data-icon] { width: 75px; }
}