
<!DOCTYPE html>
<html manifest="timetable.appcache" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/timetable.css">
		<link rel="icon" href="img/icon.png">
		<link rel="apple-touch-icon-precomposed" href="img/touch-icon.png">
		<title>Timetable</title>
		<script src="js/helpers.min.js"></script>
		<script src="js/timetable.min.js"></script>
	</head>
	<body>
		<main id="root"></main>
		<menu>
			<label data-icon="user-group" for="group">Group</label>
			<select id="group">
				<optgroup label="Year 1">
					<option>IAD1</option>
					<option>GDD1-A</option>
					<option>GDD1-B</option>
					<option>GAR1-A</option>
					<option>GAR1-B</option>
				</optgroup>
				<optgroup label="Year 2">
					<option>IAD2-A</option>
					<option>IAD2-B</option>
					<option>GDD2-A</option>
					<option>GDD2-B</option>
					<option>GAR2-A</option>
					<option>GAR2-B</option>
				</optgroup>
				<optgroup label="Teachers">
					<option>AaMu</option>
					<option>AaOo</option>
					<option>AnPr</option>
					<option>CoDe</option>
					<option>EmKa</option>
					<option>FaAk</option>
					<option>HaMa</option>
					<option>HaWa</option>
					<option>HeBu</option>
					<option>HeFa</option>
					<option>IrPe</option>
					<option>JaHu</option>
					<option>JoHe</option>
					<option>JoLe</option>
					<option>JoMa</option>
					<option>JoOt</option>
					<option>KaSi</option>
					<option>KoBr</option>
					<option>LaKr</option>
					<option>LeKr</option>
					<option>MaCo</option>
					<option>MaGr</option>
					<option>MaLa</option>
					<option>MeEk</option>
					<option>MiHr</option>
					<option>MiLi</option>
					<option>NiKe</option>
					<option>NoGe</option>
					<option>PaJa</option>
					<option>PaKo</option>
					<option>RaCr</option>
					<option>RiTo</option>
					<option>RoHa</option>
					<option>RoZi</option>
					<option>SaFr</option>
					<option>SaHu</option>
					<option>SeVi</option>
					<option>SiAl</option>
					<option>SoVu</option>
					<option>StDu</option>
					<option>SuHe</option>
					<option>TeDu</option>
					<option>TiBo</option>
					<option>ToMa</option>
					<option>ToSa</option>
					<option>VaMu</option>
					<option>WiGi</option>
					<option>YaBo</option>
				</optgroup>
			</select>
		</menu>
		<footer id="add">
			Press <span data-icon="export">export</span>, and choose “Add to Home Screen”.
		</footer>
		<template id="list">
			<div>
				<dl>
					{% this.forEach(function (day) { %}
					{% var date = $.days[day.date.format("Mj")] || day.date.format("l"); %}
					<dt class="{{ date.toLowerCase() }}">
						<time datetime="{{ day.date }}">
							<sup>{{ day.date.format("M") }}</sup>
							{{ day.date.format("d") }}
						</time>
						<h1>{{ date }}</h1>
					</dt>
					<dd>
						<ol>
							{% day.blocks.forEach(function (block) { %}
							<li class="block">
								<aside>
									<time datetime="{{ block.from }}" class="from">{{ block.from.format("H:i") }}</time>
									<time datetime="{{ block.to }}" class="to">{{ block.to.format("H:i") }}</time>
								</aside>
								<ul>
									{% block.lessons.forEach(function (lesson) { %}
									<li class="lesson">
										<b>{{ lesson.course }}</b>
										{% if (lesson.teacher) { %} from <b>{{ lesson.teacher }}</b>{% } %}
										{% if (lesson.room) { %} in <b>{{ lesson.room }}</b>{% } %}
									</li>
									{% }); %}
								</ul>
							</li>
							{% }); %}
						</ol>
					</dd>
					{% }); %}
				</dl>
				<footer>
					<menu id="date">
						<ul>
							<li><a data-icon="prev" onclick="$.setDate(-7);">Previous Week</a></li>
							<li><a data-icon="next" onclick="$.setDate(7);">Next Week</a></li>
						</ul>
					</menu>
				</footer>
			</div>
		</template>
		<template id="again">
			<div>
				<p>Something went wrong</p>
				<button data-icon="reload" onclick="$.router.match();">Try again</button>
			</div>
		</template>
	</body>
</html>